body,
html {
  padding: 200;
  margin: auto;
}

main {
  max-width: 700px;
  margin: auto;
  padding: 50px;
  text-align: left;
}

* {
  box-sizing: border-box;
}

#root,
body {
  width: 100vw;
  min-height: 100vh;
  background: #fff0e2;
  font-family: Calibri, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

#topbar {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#topbar span {
  font-size: 3.5em;
  color: #f56db1;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card {
  background: #e5e5e5;
  border-radius: 20px;
  width: 80vw;
  max-width: 380px;
  margin: 1ch;
  padding: 1ch;
  display: flex;
  flex-wrap: wrap;
}

.card div {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card p {
  width: 100%;
  text-align: center;
  font-style: italic;
}

.card h3 {
  margin: 0.3em 0;
}

/*Login Page css*/
form label {
  color: #f56db1;
  font-weight: bold;
}

form label:last-of-type {
  display: flex;
  align-items: center;
}

input[type='text'],
input[type='password'],
input[type='email'],
select {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  background-color: transparent;
  border-spacing: auto;
  border-color: transparent;
  border-bottom: solid #f56db1;
}

.center-img {
  display: flex;
  justify-content: center;
}

.pwd {
  display: flex;
  justify-content:space-around;
}

.btn-pwd{
  height: 50px;
  background: #ff0000;
  font-weight: 500;
}

/* From uiverse.io */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }

 .btn-pwd{
  padding: 1em ;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 1000;
  border-radius: 45px;
  color: #000;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
 }

 .btn-pwd:hover {
  background-color: #f56db1;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: 1200;
  transform: translateY(-7px);
}

.btn-pwd:active {
  transform: translateY(-1px);
}
 
 button.sign-in {
  width: 12rem;
  height: auto;
  background: transparent;
 }
 
 button.sign-in .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 button.sign-in .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.sign-in .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.sign-in .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.sign-in .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }

.center-btn {
  padding: 5%;
  display: flex;
  justify-content: space-around;
}


div#headertext {
  display: flex;
  flex-direction: column;
}

#switch {
  display: flex;
  flex-direction: column;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f56db1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f56db1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#register-header {
  display: block;
}
#login-header {
  display: none;
}

#role {
  display: block;
}
segment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
}
segment:first-of-type h3 {
  text-align: right;
  margin-right: 2ch;
  width: 100%;
}

segment h2 {
  text-align: right;
  width: 100%;
  margin: 0.5em 0; /*default is .83em*/
  border-bottom: 2px solid gray;
}
